doctype html
html
	title Hello World!
	link(rel="stylesheet" href="styles/style.css")
body
	#header
		#logo Random REST API
		#login
			a(href="/api/oauth/twitch") Login
		#header-user
			#name
			#avatar
		#header-user-control
	block body
	script(src="scripts/index.js")